@tailwind base;
@tailwind components;
@tailwind utilities;

.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.glass-effect {
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
}

.error {
    color: red;
    display: none;
}

.input:invalid[focused="true"]{
    border: 2px solid red;
}

.input:invalid[focused="true"] ~ .error{
    display: block;
}
